@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Montserrat', sans-serif;
  align-items: center!important;
  justify-content: center;
  text-align: center;
  
}
a{
  text-decoration: none;
}
input{
  
  color: white;
  text-align: center;
  background-color: transparent;
}
input::placeholder{
  color: white;
}
body{
  margin: 0px;
 
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;  
  background-color: transparent;
  
}

.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;
  color: white;

}
/* Box da mensagem Cripto ou Descripto*/
.box{
  position: relative;
  display: flex;
  flex-direction: column;
  
}
/* Box transparente */
.box-default {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
  position: relative;
  width: 600px;
  min-height: 600px;
  background: rgba(255,255,255,0.1); 
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;

  
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: #ca4814e7;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}
#footer{
  text-align: center;
  text-decoration: solid;
  margin-top: 40px;
  color: white;
  font-weight: 600;
  font-style: normal;
}
#footer a{
  color: black;
  font-style: unset;
}
#input-texto{
  margin-bottom: 10px;
  margin-top: 15px;
  
  
}
#label-text{
  font-weight: 400;
  color: white;
  font-size: 12px;
}
#msg-titulo{
  font-size: 14px;
  font-weight: 400;
  color: white;

  
}
.btn{
  border-radius: 10px;
}
.msg{
  margin-top: 15px;
  margin-bottom: 10px; 
  flex-direction: row;
 

}

.btn-cripto{
  align-content: center;
  margin-right: 10px;
  background-color: #e482036c;
}
#container-center{
 
  margin-top: 10px;
  margin-bottom: 20px;
}
section{
  position: relative;
  background: #161623;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  
}
/*Desenha imagem de fundo*/
section::before{
  content: '';
  position: absolute;
  width: 20em;
  height: 20em;
  background: linear-gradient(#ffc107,#e91e63);
  border-radius: 50%;
  transform: translate(-250px,-120px);
  
  
}

.container-img{
 
  position: relative;
 
}
h1{
  color: white;
}
#a-style{
  color: white!important;
  color: #161623;
  
}
#title-text{
  font-size: 20px;
  margin-top: 30px;
}
#btn-git{
  background-color: transparent; 
  border-radius: 17px;

}
textarea{
  background-color: transparent;
  max-width: 500px;
  max-height: 200px;
  color: white;
  font-weight: 600;
 
}
textarea::placeholder{
  color: white;
  
}
#btn-amarelo{
  background-color: rgba(241, 210, 28, 0.808);
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding-right: 3px;
  margin-right: 0px;
  border-radius: 17px;
}
.container-buttons{
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  padding-right: 500px;
  background-color: transparent;
  height: 50px;
  border-radius: 17px;
}
#btn-vermelho{
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 17px;
  margin-left: 5px;
  margin-right: 3px;
  
 

}
#btn-cinza{
  background-color: rgb(197, 197, 197);
  width: 20px;
  height: 20px;
  border-radius: 17px;
 
 
}
#footer-data{
  font-size: 15px;
  font-weight: 400;
}
.img-logo{
  margin-top: 10px;
  width: 130px;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgb(243, 116, 12);
  color: #fff;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}




